/* rubik-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Rubik";
	font-style: normal;
	font-weight: 400;
	src: url("../Font/rubik-v26-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

#bg_div {
	position: relative;
}

#product-title {
	position: absolute;
	width: 249px;
	height: 60px;
	left: 340px;
	top: 258px;
}

#product-bg {
	position: relative;
	width: 1920px;
	height: 384px;
	left: 0px;
	top: 0px;
	z-index: -5;
}
/* MAIN DIVS (LEFT AND RIGHT DIVS)*/
.main-divs {
	position: relative;
	width: 100%;
	margin-top: 100px;
	font-family: "Rubik";
	font-style: normal;
	font-weight: 400;
	text-align: center;
	display: flex;
}

/* LEFT DIV */

.left_div_clicked {
	background: #70c3f2;
	color: #ffffff;
}

.left-div {
	margin: 0px;
	width: 35%;
	border-right: solid black 1px;
}
.left-div-inner {
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	text-align: center;
}
.left-div-headers-div {
	display: flex;
	width: auto;
	height: 70px;
	line-height: 70px;

	border-bottom: solid black 1px;
}
.left-div-headers {
	font-size: 32px;
	color: #70c3f2;
	margin: auto;
	width: 50%;
	height: 100%;
}

.left-div-table {
	display: flex;
	width: 100%;
}
.table-column {
	width: 50%;
}

.models_div {
	overflow-y: auto;
	overscroll-behavior: contain;
}

.table-column ul {
	list-style: none;
	font-size: 24px;
	margin-top: 16px;
}
.table-column li {
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 20px;
}

.table-column li:hover {
	cursor: pointer;
	background: #70c3f2;
	color: #ffffff;
}

/* RIGHT DIV */
.right-div {
	margin: 0px;
	width: 65%;
}

.right-inner-div {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.model-header {
	font-size: 28px;
	width: auto;
	height: 70px;
	line-height: 70px;
	text-align: left;
	border-bottom: solid black 1px;

	color: #000000;
}

#product_image_div {
	width: 100%;
	padding-top: 50px;
}

.product_images {
	width: 100%;
}


